:root {
    --secundario: #384533;
    --verdeClaro: #d2d3c1;
    --colorLinks: #818c7b;
    --arcilla: #ab8160;
    --grisOscuro: #515151;
    --blanco: #ffffff;
    --cafe: #644938;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

body {
    background-image: url('../imagenes/fondo-formulario.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}


.contenedor-historial {
    max-width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor-historial h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secundario);
    margin-bottom: 1rem;
}

/* Mensaje sin datos */
.mensaje-sin-datos {
    font-size: 1.5rem;
    color: var(--grisOscuro);
    margin-top: 1rem;
}

/* Tabla */
.tabla-historial {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    backdrop-filter: blur(10px);
    background-color: rgba(171, 129, 96, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tabla-historial th, .tabla-historial td {
    border: 1px solid var(--grisOscuro);
    padding: 1rem;
    text-align: center;
}

.tabla-historial th {
    background-color: var(--secundario);
    color: var(--blanco);
}

.tabla-historial tr:hover {
    background-color: var(--arcilla);
    color: var(--blanco);
}

/* Responsivo */
@media (max-width: 768px) {
    .contenedor-historial {
        max-width: 90%;
        margin: 1rem;
    }

    .tabla-historial {
        font-size: 0.9rem;
    }

    .tabla-historial th, .tabla-historial td {
        padding: 0.5rem;
    }

    .mensaje-sin-datos {
        font-size: 1.2rem;
    }
}
