:root {
    --fondo: #f4f4f4;
    --primario: #F4E2D1;
    --secundario: #384533;
    --verdeClaro: #d2d3c1;
    --colorLinks: #818c7b;
    --arcilla: #ab8160;
	--textoClaro: #555;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0;
    font-family: 'Merriweather';
    font-size: 1.6rem; 
    background-image: url('../imagenes/fondo-confirmacion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: var(--secundario);
    padding: 1.5rem 2rem;
}


h1 {
    color: var(--primario);
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.margen {
    margin: 0 2rem;
}

a {
    text-decoration: none;
}

.opciones ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.opciones ul li a {
    color: var(--colorLinks);
    font-weight: 500;
    padding: 0.5rem 0;
    transition: color 0.3s;
}

.opciones ul li a:hover {
    color: var(--primario);
}

.navbar-brand {
    font-size: 3rem;
    font-weight: 400;
    color: var(--verdeClaro);
    font-style: italic;
}

.mayusculas {
    text-transform: uppercase;
}

.botones {
    border: 0.2rem solid var(--arcilla);
    border-radius: 1rem;
    color: var(--primario);
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: 1rem;
    text-align: center;
}

.botones:hover, .notificacion-btn:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#btn-iniciar {
    background-color: var(--secundario);
    color: var(--primario);
}

#btn-iniciar:hover {
    background-color: var(--arcilla);
}

#btn-registrar {
    background-color: var(--arcilla);
    color: var(--primario);
    
}

#btn-registrar:hover {
    background-color: var(--secundario);
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;           
}

@media (max-width: 760px) {
    .opciones ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .d-flex {
        flex-direction: column;
        gap: 0.5rem;
    }

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

}

/* footer */

footer {
    background-color: var(--secundario);
    padding: 1.5rem 2rem;
    margin-top: auto; 
}

.centrar-footer {
    justify-content: center;
}

#seccion-final {
    display: flex;
    justify-content: space-between;
}


#seccion-final p {
    color: var(--colorLinks);
    font-size: 1.5rem;
}

#iconos li {
    display: inline;
}

.icono {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    fill: var(--colorLinks);
}

#iconos li:last-child .icono {
    margin-right: 0;
}

/* -------------------- Sección notifiación de reservación exitosa ---------------------*/
.contenedor {
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3rem;
    max-width: 55rem;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
    flex-direction: column;
    display: flex;
}


.contenedor h2 {
    color: var(--textoClaro);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.contenedor p {
    font-size: 1.4rem;
    line-height: 1.8;
    margin: 0.5rem 0;
    color: var(--secundario);
}

.notificacion-btn {
    display: inline-block;
    background-color: var(--arcilla);
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0.5rem;
}

.notificacion-btn:hover {
    background-color: var(--secundario);
    color: var(--primario);
    transform: scale(1.05);
}

