:root {
    --fondo: #f4f4f4;
    --primario: #F4E2D1;
    --secundario: #384533;
    --verdeClaro: #d2d3c1;
    --colorLinks: #818c7b;
    --arcilla: #ab8160;
    --grisOscuro: #515151;
    --blanco: #ffffff;
}

main {
    flex: 1; 
}

.background-wrapper {
    background-image: url('/campo/imagenes/fondo-formulario.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    min-height: 100vh; 
}

.content {
    width: 100%; 
    max-width: 1300px;
    background-color: rgba(255, 255, 255, 0.65); 
    padding: 30px; 
    border-radius: 15px; 
    position: relative; 
    z-index: 2; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {
    .background-wrapper {
        background-size: contain; 
        background-attachment: scroll;
    }

    .content {
        width: 100%; 
        padding: 10px; 
    }

    .extra-image {
        width: 80px; 
      }

    
}


.services-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 25px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
    min-height: 450px;
}


h2 {
    font-size: 1.5em;
    color: var(--secundario);
    text-transform: uppercase;
    margin: 10px 0;
    margin-bottom: 1rem;
   
}

.titulo{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secundario);
    margin-bottom: 1rem;
}

p {
    color: var(--colorLinks);
    font-size: 1em;
    margin: 10px 0;
    flex-grow: 1;

    border-left: 3px solid var(--colorLinks); 
    padding-left: 10px; 
    margin: 0; 
}

.more-text {
    display: none;
    color: var(--colorLinks);
    font-size: 1em;
}

.read-more-btn {
    background-color:#384533;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.read-more-btn:hover {
    background-color: var(--colorLinks);
}

.service-image {
    width: 260px; 
    height: 150px; 
    object-fit: cover; 
    filter: brightness(90%);
} 

.extra-image {
    width: 250px; 
    height: 200px;
    border-radius: 8px;
    margin-top: 10px;
    object-fit: cover;
    max-width: 400px;
  }